Repository SavageChieftain/RegExt: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-md

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts}"
      run: npm run lint
    lint-md:
      glob: "*.md"
      run: npm run lint:md
    type-check:
      run: npm run type-check
    test:
      run: npm run test

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit {1}

pre-push:
  commands:
    test:
      run: npm run test
    build:
      run: npm run build

docs: add comprehensive project documentation
  CHANGELOG.md
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/api.md
  docs/examples.md
Due: lint-md

test: add comprehensive test suite
  tests/constructor.test.ts
  tests/count.test.ts
  tests/edgeCases.test.ts
  tests/extract.test.ts
  tests/extractGroups.test.ts
  tests/findLast.test.ts
  tests/integration.test.ts
  tests/loopExec.test.ts
  tests/replaceAll.test.ts
  tests/replaceFirst.test.ts
  tests/safeTest.test.ts
Due: lint

ci: add GitHub Actions workflows and security configurations
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: lint-md

chore: add linting and development environment configurations
  .commitlintrc.js
  .markdownlint-cli2.jsonc
  .markdownlintrc
  .npmignore
  .vscode/extensions.json
  .vscode/settings.json
Due: lint

feat: implement TypeScript RegExt class with comprehensive regex utilities
  src/index.ts
Due: lint

fix: update GitHub Actions workflow permissions for semantic-release
  .github/workflows/release.yml
  .releaserc.js
Due: lint

feat: update package name and publish configuration for npm
  package.json
Due: none

fix: rename NPM_TOKEN to NODE_AUTH_TOKEN in release workflow
  .github/workflows/release.yml
Due: none

fix: disable commitlint body length check for semantic-release
  .commitlintrc.js
  .github/workflows/release.yml
  lefthook.yml
Due: lint

chore: update vitest packages and fix dependabot config
  .github/dependabot.yml
  package-lock.json
Due: none

feat: add GPG key import step and use secrets for committer information in release workflow
  .github/workflows/release.yml
Due: none

fix: update token reference from GITHUB_TOKEN to GH_TOKEN in release workflow
  .github/workflows/release.yml
Due: none

fix: remove unnecessary git_tag_gpgsign configuration in release workflow
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: lint-md

Notes added by 'git notes add'
  dfff90e502031e2ad95b41423fa2f0554a17981c
Due: none

feat: add test for handling empty pattern with no match in loopExec
  tests/loopExec.test.ts
Due: lint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: lint-md

Notes added by 'git notes add'
  d67cce1486df3da4757fd782582fb12b2a4b9b0b
Due: none

chore: update vitest and related packages to version 3.2.3
  package-lock.json
  package.json
Due: none

chore: update @semantic-release/npm to version 13.1.2
  package-lock.json
  package.json
Due: none

chore: update Node.js version to 24 in workflows and package.json
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  package.json
Due: lint-md

chore: add NPM_TOKEN to release workflow environment variables
  .github/workflows/release.yml
Due: none

chore: remove NPM_TOKEN and NODE_AUTH_TOKEN from release workflow
  .github/workflows/release.yml
Due: none

chore: update vitest and related dependencies
  package-lock.json
  package.json
Due: none

chore: update TypeScript configuration
  tsconfig.json
Due: none

docs: update README and API documentation
  README.md
  docs/api.md
  docs/examples.md
Due: lint-md

feat: add escape utility and fix coverage in _shouldBreakLoop
  src/index.ts
  src/utils/escape.ts
Due: lint

test: update and add test cases, remove edgeCases.test.ts
  tests/chunks.test.ts
  tests/constructor.test.ts
  tests/count.test.ts
  tests/edgeCases.test.ts
  tests/escape.test.ts
  tests/extract.test.ts
  tests/extractGroups.test.ts
  tests/findLast.test.ts
  tests/integration.test.ts
  tests/loopExec.test.ts
  tests/replaceAll.test.ts
  tests/safeTest.test.ts
Due: lint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: lint-md

Notes added by 'git notes add'
  6cf80f45769e178129f449aff5493798fb8f0830
Due: none

refactor: update audit fixes etc
  eslint.config.js
  eslint.config.ts
  package-lock.json
  package.json
  src/__tests__/chunks.test.ts
  src/__tests__/constructor.test.ts
  src/__tests__/count.test.ts
  src/__tests__/escape.test.ts
  src/__tests__/extract.test.ts
  src/__tests__/extractGroups.test.ts
  src/__tests__/findLast.test.ts
  src/__tests__/integration.test.ts
  src/__tests__/loopExec.test.ts
  src/__tests__/replaceAll.test.ts
  src/__tests__/replaceFirst.test.ts
  src/__tests__/safeTest.test.ts
  src/index.ts
  tsconfig.json
  vite.config.js
Due: lint

chore(deps): bring npm audit down to zero findings
  package-lock.json
  package.json
  src/utils/escape.ts
  tools/npm-cli-stub/README.md
  tools/npm-cli-stub/package.json
Due: lint, lint-md
